<p>Hello.</p>
<p>This is a simple app to play with the Twitter API.</p>

<%= "<p>#{@contents}</p>" if @contents %>
<%= "<p>#{@message}</p>" if @message %>

<p>Select your drug:</p>

<form method="POST" action="/user" autocomplete="on">
  <label for="username">Twitter username</label>
  <input name="username" id="username" type="text" />
  <button>Get user info</button>
</form>

<form method="GET" action="/tweet" autocomplete="on">
  <label for="id">Tweet id</label>
  <input name="id" id="id" type="text" />
  <button>Get user tweet</button>
</form>
